<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} / The Survey Software Review</title>
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/survey-review/css/syntax.css" type="text/css">

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/united/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/survey-review/css/site.css" type="text/css">

  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="" class="brand">The Survey Software Review</a>
        <ul class="nav">
          <li><a href="/survey-review/">Home</a></li>
          <li><a href="/survey-review/criteria.html">Criteria</a></li>
          <li><a href="/survey-review/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 4em;">
    <div class="row">
      <div class="span12">
        <div class="alert alert-danger" role="alert">
          <strong>This site is no longer maintained.</strong> It is very time-consuming to update or add reviews, so I have decided to officially announce that I am no longer making any updates.<br><br>Reviews on this site were written in March 2013, so please bear in mind that the software reviewed here may have changed substantially since then.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        {{ content }}
      </div>
    </div>

    <footer class="container">
      <div class="row">
        <div class="span12">
          &copy; 2013 Max Masnick. All rights reserved.
        </div>
      </div>
    </footer>
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '514c934a108d7b56bb0000ce');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
