<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} / The Survey Software Review</title>
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css">

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/united/bootstrap.min.css" rel="stylesheet">

  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="" class="brand">The Survey Software Review</a>
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/criteria">Criteria</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 4em;">
    <div class="row">
      <div class="span12">
        {{ content }}
      </div>
    </div>

  </div>
</body>
</html>
